{% extends 'header.html' %}
{% load static %}

{% block body %}
<!-- Nav tabs -->
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="proposed-tab" data-toggle="tab" href="#proposed" role="tab" aria-controls="proposed" aria-selected="true">Proposed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="progress-tab" data-toggle="tab" href="#progress" role="tab" aria-controls="progress" aria-selected="false">On progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="finalized-tab" data-toggle="tab" href="#finalized" role="tab" aria-controls="finalized" aria-selected="false">Finalized</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="proposed" role="tabpanel" aria-labelledby="proposed-tab">Hola</div>
  <div class="tab-pane" id="progress" role="tabpanel" aria-labelledby="progress-tab">...</div>
  <div class="tab-pane" id="finalized" role="tabpanel" aria-labelledby="messages-tab">...</div>
</div>

<!-- Django Auth -->

<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}" role="button">Log in</a>

<!-- My Scripts -->

{% endblock %}